<!--This page represents the About Us page in our web application-->
<!--References [3]-->
<!DOCTYPE html>

<html>
    <head>
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Imports the style2.css file-->
        <link rel="stylesheet" href="../static/css/style2.css">
        <!--This is importing Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <section class="sub-header">
            <!--This is the navigation bar that redirects the user to their respective pages-->
            <nav>
                <a href="home.html"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/personschedule">Personal Schedule</a></li>
                        <li><a href="/appointment">Booking</a></li>
                        <li><a href="/followups">Checkups</a></li>
                        <li><a href="/archive">Find Appointments</a></li>
                        <li><a href="/delete">Delete Appointments</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/index">Logout</a></li>
                    </ul>
                </div>
            </nav>

        <h1>About Us</h1>
    
        </section>

        <!--This is the body text and image for the about us page-->
        <section class="about-us">
            <div class="row">
                <div class="about-col">
                    <h1>We are a group of motivated students wishing to make a difference</h1>
                    <p>We are a group of motivated computer science students dedicated to making a difference in the medical field. Our current project involves developing an innovative scheduling web app specifically designed for surgeons. Our goal is to streamline the scheduling process, reduce administrative burdens, and ultimately improve the efficiency of surgical operations. By leveraging our technical skills and passion for problem-solving, we aim to create a tool that significantly enhances the workflow for healthcare professionals, leading to better patient care and optimized surgical procedures.</p>
                    <a href="../home" class="hero-btn red-btn">EXPLORE NOW</A>
                </div>
                <div class="about-col">
                    <img src="https://cdnsm5-ss13.sharpschool.com/UserFiles/Servers/Server_233808/Image/Logo%202018%20(2)%20no%20background.png">
                </div>
            </div>
        </section>




        <!--This is the footer under most pages-->
        <section class="footer">
            <h4>About Us</h4>
            <p>We are a group of dedicated high school students who want to make a positive impact in the rapidly developing world. This webapp is our attempt to simplify <br>the hectic schedules of surgeons and create a well-balanced work environment.</p>
            <p>Made by Medi-Cal Project Team</p>

        </section>


        

    </body>
</html>



