<!--This page represents the Check Up page in our web application-->
<!--References [3]-->
<!DOCTYPE html>

<html>
    <head>
        <title>Check up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Imports the style2.css file-->
        <link rel="stylesheet" href="../static/css/style2.css">
        <!--This is importing Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <section class="sub-header">
            <!--This is the navigation bar that redirects the user to their respective pages-->
            <nav>
                <a href="home.html"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/personschedule">Personal Schedule</a></li>
                        <li><a href="/appointment">Booking</a></li>
                        <li><a href="/followups">Checkups</a></li>
                        <li><a href="/archive">Find Appointments</a></li>
                        <li><a href="/delete">Delete Appointments</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/index">Logout</a></li>
                    </ul>
                </div>
            </nav>

        <h1>Followup Checkups</h1>
    
        </section>

        <section class="check-content">
            <div class="row">
                <div class="check">
                    <!--Some text to instruct the reader about what to do-->
                    <h2>Schedule Your Post-Surgery Checkups</h2>
                    <p>To ensure seamless follow-up care, please use this convenient online system to schedule your post-surgery appointments.</p>
                    <br>
                    <p>Please select the most suitable dates and times for your follow-up consultations. Our system allows you to view available slots in real-time and choose the one that best fits your schedule.</p>

                    <h2>Schedule Form</h2>
                    <!--This asks the user for a specific inputs so that it can validate and then add it the calendar-->
                    <form class="schedule-form" action="/followups/" method="post">
                        {% csrf_token %}
                        <label for="">Patient First Name</label>
                        <input type="text" id="fname" name="fname" placeholder="Enter Patient's First Name" Required>
                        <br>
                        <label for="">Patient Last Name</label>
                        <input type="text" id="lname" name="lname" placeholder="Enter Patient's Last Name" Required>
                        <br>
            
                        <br>
                        <label for="">Surgeon First Name</label>
                        <input type="text" id="surgfname" name="surgfname" placeholder="First Name">
                        <br>
                        <label for="">Surgeon Last Name</label>
                        <input type="text" id="surglname" name="surglname" placeholder="Last Name">
                        <br>
                        
                        <br>
                        <label for="">Date</label>
                        <select name="Month" id="Month" Required>
                            <option value="January">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="April">April</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                        <input type="number" id="Day" name="Day" min="1" max="31" placeholder="1" Required></input>
                        <input type="number" id="Year" name="Year" min="2024" max="2027" placeholder="2024" Required></input>
                        
                        <br>
                        <label for="">Start Time (24hr format) </label>
                        <input type="time" id="StartTime" name="StartTime" Required>
            
                        <br>
                        <label for="">End Time (24hr format)</label>
                        <input type="time" id="EndTime" name="EndTime" Required>
            
                        <br>
                        <br>
            
                        <button class="hero-btn red-btn" type = 'submit'>SCHEDULE</button>
                    </form>
                </div>

                <!--this is the image on the right to add visual elements-->
                <div class="check-right">
                    <img src="https://as1.ftcdn.net/v2/jpg/01/91/40/42/1000_F_191404295_WTD2cvTfRcdbZ90KB8fMp8DQuRBY1KWO.jpg">
                </div>
            </div> 
        </section>


        <!--This is the footer under most pages-->
        <section class="footer">
            <h4>About Us</h4>
            <p>We are a group of dedicated high school students who want to make a positive impact in the rapidly developing world. This webapp is our attempt to simplify <br>the hectic schedules of surgeons and create a well-balanced work environment.</p>
            <p>Made by Medi-Cal Project Team</p>

        </section>


    </body>
</html>
