<!--References [3]-->
<!--This page represents the Home page in our web application-->

<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Imports the style2.css file-->
        <link rel="stylesheet" href="../static/css/style2.css">
        <!--This is importing Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <section class="header">
            <!--This is the navigation bar that redirects the user to their respective pages-->
            <nav>
                <a href="home.html"></a>
                <div class="nav-links">
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/personschedule">Personal Schedule</a></li>
                        <li><a href="/appointment">Booking</a></li>
                        <li><a href="/followups">Checkups</a></li>
                        <li><a href="/archive">Find Appointments</a></li>
                        <li><a href="/delete">Delete Appointments</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/index">Logout</a></li>
                    </ul>
                </div>
            </nav>

        <!--A slight introduction to the web application with a button to redirect the user to their calendar-->
        <div class="text-box">
            <h1>Medi-Cal Scheduling</h1>
            <p> Stay on top of your appointments and treatments with ease using Medi-Cal convenient <br>management services. Our user-friendly platform allows you to view all upcoming hospital appointments, <br>receive real-time notifications, and book new appointments. Medi-Cal’s timetable offers a stress-free <br>way to manage your calendar and stay organized during your healthcare journey.</p>
            <a href="../personschedule" class="hero-btn">START SCHEDULING NOW</a>
            
        </div>

        </section>

        <!--A description of the main features offered by the web application-->
        <section class="services">
            <h1>Services We Offer</h1>
            <p>Here are some of the services we provide.</p>

            <div class="row">
                <div class="services-col">
                    <h3>Scheduler</h3>
                    <p>Our scheduling feature is designed to streamline the complex process of managing surgical appointments. Surgeons can effortlessly schedule and update their surgeries, appointments, and availability through an intuitive interface. It ensures that surgeons and their teams stay informed and organized. By reducing administrative burdens, our scheduling feature allows healthcare professionals to focus more on patient care and less on logistics, ultimately enhancing the efficiency and effectiveness of surgical operations.</p>
                </div>
                <div class="services-col">
                    <h3>Timetable</h3>
                    <p>Our timetable feature offers a comprehensive and user-friendly solution for managing surgical schedules. Surgeons can view and organize their daily or weekly timetables with ease, ensuring a clear overview of their commitments. Real-time synchronization ensures that any updates are immediately reflected across the entire timetable. With advanced filtering options, surgeons can customize their view to focus on specific time periods or activities.</p>
                </div>
                <div class="services-col">
                    <h3>Follow-up Checkups</h3>
                    <p>Our follow-up checkup feature ensures that post-operative care is efficiently managed and never overlooked. Surgeons can easily schedule and track follow-up appointments for their patients to ensure timely visits. The feature allows for comprehensive note-taking and documentation, enabling surgeons to monitor patient recovery and progress closely. This feature helps maintain continuity of care, improves patient outcomes, and fosters better communication between surgeons and their patients.</p>
                </div>
            </div>

        </section>

        <!--Interactive elements that the user can use to redirect themselves to their desired page-->
        <section class="change">
            <h1>Changing Lives</h1>
            <p>Premium management service with the ability to change the lives of many.</p>

            <div class="row">
                <div class="change-col">
                    <img src="https://i.pinimg.com/736x/e0/77/25/e0772551fed7ba4af710af4e2a2a9cc2.jpg">
                    <div class="layer">
                        <h3><a href="../appointment">APPOINTMENTS</a></h3>
                    </div>
                </div>
                <div class="change-col">
                    <img src="https://makinglemonadeblog.com/wp-content/uploads/2019/11/free-printable-2020-planner-calendar-19.jpg">
                    <div class="layer">
                        <h3><a href="../personschedule">TIMETABLE</a></h3>
                    </div>
                </div>
                <div class="change-col">
                    <img src="https://static.wixstatic.com/media/b0f3919d3ce8417b8f133eb2844f5997.jpg/v1/fill/w_602,h_900,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Doctor%20with%20Files.jpg">
                    <div class="layer">
                        <h3><a href="../followups">CHECKUPS</a></h3>
                    </div>
                </div>
            </div> 

        </section>

        <!--Some extra visual element-->
        <section class="cta">
            <h1>Start using Medi-Cal management today and improve your productivity!<h1>
        </section>

        <!--This is the footer under most pages-->
        <section class="footer">
            <h4>About Us</h4>
            <p>We are a group of dedicated high school students who want to make a positive impact in the rapidly developing world. This webapp is our attempt to simplify <br>the hectic schedules of surgeons and create a well-balanced work environment.</p>
            <p>Made by Medi-Cal Project Team</p>

        </section>

    </body>
</html>



